[project]
	description = Intelligent Storage Acceleration Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chunyang Hui (jessehui)
[access "refs/for/refs/*"]
	read = group user/Chunyang Hui (jessehui)
	push = group user/Chunyang Hui (jessehui)
	label-Code-Review = -2..+2 group user/Chunyang Hui (jessehui)
	label-Verified = -1..+1 group user/Chunyang Hui (jessehui)
	rebase = group user/Chunyang Hui (jessehui)
	removeReviewer = group user/Chunyang Hui (jessehui)
	submit = group user/Chunyang Hui (jessehui)
[access "refs/heads/*"]
	read = group user/Chunyang Hui (jessehui)
	create = group user/Chunyang Hui (jessehui)
	push = +force group user/Chunyang Hui (jessehui)
	pushMerge = group user/Chunyang Hui (jessehui)
[access "refs/tags/*"]
	push = group user/Chunyang Hui (jessehui)
	push = +force group user/Chunyang Hui (jessehui)
